* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background: url("../bus.jpg") no-repeat;
}

html {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

header {
    position: fixed;
    background: #3d4f58;
    padding: 20px;
    width: 100%;
    height: 30px;
}

.content {
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    margin-top: 15%;
    background-color: #ffffff;
    text-align: center;
    border-radius: 0.5ex;
    box-shadow: 0 0 20px 5px #536c78;
    padding: 50px 50px;
}

.box h1 {
    color: black;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 2ex;
    transition: 0, 25s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 280px;
    border-color: #7caabf;
    box-shadow: 0 0 10px 1px #7caabf;
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #7caabf;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 2ex;
    transition: 0, 25s;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    box-shadow: 0 0 10px 1px #7caabf;
}

.text {
    text-decoration: red;
    size: 3cm;
    position: relative;
}

.left_area a {
    text-decoration: none;
}

.left_area h3 {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}

.left_area span {
    color: #7caabf;
}